body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
}

#socials{
    height: 20px;
    padding: 20px;
    display: flex;
}

#twitter{
        height: 20px;
        width: 20px;
        margin-left: 10px;
}#whatsapp{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
#fb{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
#phone{
    height:20px;
    width:20px;
text-align: right;
}
div#logoLeft{
    text-align: center;
    background-color: #303030;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
    padding-top: 30px;
}

img.logo{
    width: auto; 
    height:60px;
    margin: 2rem;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align the navigation to the right */
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Style the menu items on hover */
a:hover {
    color: #ff6600;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
        text-align: center;
    }

    li {
        margin: 10px 0;
    }
}