body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
}

#socials {
    display: flex; /* Use flexbox to arrange the images in a row */
    align-items: center; /* Vertically center the images */
  }
  
  .social-icon {
    margin-right: 10px; /* Add some spacing between the images */
  }

#twitter{
        height: 20px;
        width: 20px;
        margin-left: 20px;
}
#twitter:hover{
    height: 22px; 
    animation-duration: 10ms;
}
#whatsapp{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
#whatsapp:hover{
    height: 22px; 
    animation-duration: 10ms;
}
#fb{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
#fb:hover{
    height: 22px;
    animation-duration: 10ms; 
}
#phone{
    height:20px;
    width:auto;
    margin-right: 20% !important;
    margin-left: 75%;
}
#phone:hover{
    height: 21px;
    width: auto + 1px;
    animation-duration: 10ms;

}

div#logoLeft{
    text-align: center;
    background-color: #303030;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
    padding-top: 30px;
}

img.logo{
    width: auto; 
    height:60px;
    margin: 2rem;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align the navigation to the right */
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Style the menu items on hover */
a:hover {
    color: #510230;
}

a.active{
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {

    #phone{
        height:20px;
        width:auto;
        margin-right: 20px !important;
        margin-left: 40%;
    }
    
    header {
        padding: 10px 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
        text-align: center;
    }

    li {
        margin: 10px 0;
    }
}
@media (max-width: 1024px) {
    #phone{
        height:20px;
        width:auto;
        margin-right: 30px !important;
        margin-left: auto;
    }
}
@media (max-width: 480px) {
    #phone{
        height:20px;
        width:auto;
        margin-right: 30px !important;
        margin-left: auto;
    }
}

/* Arts and Culture Section */

.img {
aspect-ratio: 0.975;

width: auto;
height: 300px;
}


.media-container{
flex: content;
}

